:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin-top: 0;
  padding: 0rem 2rem;
  margin: 0;
  font-size: 1.3rem;
}
h1 {
  margin-top: 0;
  text-align: center;
  width: 100%;
  font-size: 2rem;
}
h3 {
  text-align: center;
}
.header-img {
  display: flex;
  justify-content: center;
}
.header-img img {
  width: 420px;
  min-height: auto;
}

b {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
