* {
  box-sizing: border-box;
}

body {
  padding: 1rem 2rem;
  margin: 0;
}
.header-img {
  display: flex;
  justify-content: center;
}
.header-img img {
  width: 420px;
  min-height: auto;
}

b {
  margin-bottom: 2rem;
}
